@value fontFamily, fontFamilyNarrow from "styles/common.css";
@value leftWidth from "./values.css";

.destinations {
    max-width: 170px;
    margin: 10px 20px 0;
}

.routeId {
    width: calc(72px + leftWidth);
    margin-left: -80px;
    font-family: fontFamilyNarrow;
    font-size: 30px;
    font-weight: 500;
    text-align: right;
}

.title {
    font-family: fontFamily;
    font-size: 12px;
    font-weight: 500;
}

.subtitle {
    composes: title;
    font-weight: 300;
}
