@value fontFamily, fontFamilyNarrow from "styles/common.css";
@value leftWidth, lineColor, lineWidth from "./values.css";

.destinations {
    width: 216px;
    margin: 5px -4px;
}

.routeId {
    font-family: fontFamilyNarrow;
    font-size: 28px;
    font-weight: 500;
    margin-right: 5px;
}

.title {
    margin-right: 5px;
    font-family: fontFamily;
    font-size: 13px;
    font-weight: 500;
}

.subtitle {
    composes: title;
    font-weight: 300;
}
