@value fontFamilyNarrow from "styles/common.css";
@value leftWidth from "./values.css";

.destinations {
    margin: 10px 20px 0;
    font-family: fontFamilyNarrow;
    letter-spacing: -0.025em;
}

.destination {
    display: flex;
    align-items: baseline;
    font-weight: 500;
}

.destination *:first-child {
    width: calc(72px + leftWidth);
    margin-left: -80px;
    font-size: 28px;
    text-align: right;
}

.destination *:last-child {
    padding-left: 5px;
    font-size: 20px;
}
