@value leftWidth, rightWidth, lineColor, lineWidth from "./values.css";

.root {
    margin-top: -14px;
    height: calc(16px + 14px);
    margin-left: leftWidth;
    border-left: lineWidth dotted lineColor;
}
