@value fontFamily, borderRadius from "styles/common.css";
@value leftWidth, rightWidth, lineWidth from "./values.css";

.root {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    padding: 42px;
    background: white;
    border-radius: borderRadius;
}

.start {
    display: flex;
    align-items: flex-start;
    color: black;
    margin-left: leftWidth;
    margin-bottom: calc(lineWidth * 2);
}

.icon {
    width: 30px;
    margin-left: -15px;
    margin-right: 8px;
}

.title {
    font-size: 18px;
    font-weight: 500;
    font-family: fontFamily;
    line-height: 22px;
}

.subtitle {
    font-weight: 300;
}
