@value fontFamily, fontFamilyNarrow from "styles/common.css";
@value leftWidth, rightWidth, lineColor, lineWidth from "./values.css";

.stop {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    font-family: fontFamily;
    white-space: nowrap;
}

.left {
    width: leftWidth;
}

.right {
    display: flex;
    padding-top: 6px;
    padding-left: 10px;
    width: rightWidth;
    box-sizing: border-box;
}

.title {
    font-weight: 500;
    font-size: 11px;
}

.subtitle {
    font-weight: 300;
    font-size: 11px;
}

.iconContainer {
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.icon {
    height: 20px;
    margin-left: 2px;
}

.separator {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.separatorTop {
    height: 8px;
    border-left: lineWidth solid lineColor;
 }

.separatorBottom {
    height: 16px;
    border-left: lineWidth solid lineColor;
}

.separatorBottomDashed {
    height: 16px;
    border-left: lineWidth solid lineColor;
}

.separatorStop {
    width: calc(4 * lineWidth);
    height: calc(4 * lineWidth);
    border: lineWidth solid lineColor;
    border-radius: calc(4 * lineWidth);
    margin-top: calc(lineWidth / -2);
    margin-bottom: calc(lineWidth / -2);
    margin-left: calc(-2.5 * lineWidth);
}

.separatorLastStop {
    composes: separatorStop;
    background: lineColor;
    border-radius: 0;
}
