@value leftWidth, rightWidth, lineColor, lineWidth from "./values.css";

.root {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    white-space: nowrap;
}

.left {
    width: leftWidth;
}

.right {
    display: flex;
    padding-left: 10px;
    width: rightWidth;
    box-sizing: border-box;
}

.title {
    font-family: GothamRounded-Medium;
    font-size: 11px;
}

.subtitle {
    font-family: GothamRounded-Book;
    font-size: 11px;
}

.iconContainer {
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.icon {
    height: 20px;
    margin-left: 2px;
}

.separator {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.separatorTop {
    height: 12px;
    border-left: lineWidth solid lineColor;
}

.separatorBottom {
    height: 12px;
    border-left: lineWidth solid lineColor;
}

.separatorStop {
    width: calc(4 * lineWidth);
    height: calc(4 * lineWidth);
    border: lineWidth solid lineColor;
    border-radius: calc(4 * lineWidth);
    margin-top: calc(lineWidth / -2);
    margin-bottom: calc(lineWidth / -2);
    margin-left: calc(-2.5 * lineWidth);
}

.separatorLastStop {
    composes: separatorStop;
    background: lineColor;
    border-radius: 0;
}
