.root {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  white-space: nowrap;
}

.left {
  width: var(--left-width);
}

.right {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-start;
  padding-left: 15px;
  width: var(--right-width);
  box-sizing: border-box;
}

.border {
  height: 4px;
  width: 100%;
  margin-left: calc(-1 * (var(--left-width) + 20px + var(--line-width)));
  margin-top: 2px;
  margin-bottom: 2px;
}

.line {
  width: 100%;
  height: 100%;
  stroke: rgb(135, 135, 135);
  stroke-width: 2px;
  stroke-linecap: round;
}

.zoneHeading {
  font-family: GothamRounded-Book;
  font-size: 11px;
  vertical-align: middle;
  line-height: 1.1rem;
  display: flex;
  align-items: center;
  width: 100%;
}

.zoneHeading strong {
  font-family: GothamRounded-Medium;
}

.zoneIcon {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  margin-left: 5px;
  padding: 0;
  font-family: GothamRounded-Medium;
  font-size: 1rem;
  text-align: center;
  line-height: 1.4;
  vertical-align: middle;
  letter-spacing: -0.025em;
  text-transform: uppercase;
  color: white;
  background: var(--line-color);
  border-radius: 50%;
}

.noZone {
  height: 12px;
}

.separator {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.separatorTop,
.separatorBottom {
  height: 22px;
  border-left: var(--line-border);
}

.separatorMiddle {
  height: 8px;
}
