.root {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    white-space: nowrap;
}

.left {
    width: var(--left-width);
}

.right {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    padding-left: 20px;
    width: var(--right-width);
    box-sizing: border-box;
}

.border {
    height: 4px;
    width: 100%;
    margin-left: calc(-1 * ( var(--left-width) + 20px + var(--line-width) ));
    margin-top: 2px;
    margin-bottom: 2px;
}

.line {
    width: 100%;
    height: 100%;
    stroke: #ddd;
    stroke-width: 2;
    stroke-dasharray: 4, 4;
    stroke-linecap: round;
}

.title {
    height: 12px;
    padding: 0px 6px;
    font-family: GothamRounded-Medium;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    color: white;
    background: var(--line-color);
    border-radius: 6px;
}

.noZone {
    height: 12px;
}

.separator {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.separatorTop {
    height: 14px;
    border-left: var(--line-border);
}

.separatorMiddle{
  height: 4px;
}

.separatorBottom {
    height: 14px;
    border-left: var(--line-border);
}
