
.root {
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    padding: 10px 30px;
    margin: auto;
    box-sizing: border-box;
}

.tab {
    height: calc(100vh - 70px);
}
