
.root {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 10px 30px;
    margin: auto;
    box-sizing: border-box;
}

.item {
    padding-bottom: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
