
.root {
    display: flex;
    flex-flow: column;
    flex-basis: 10px;
    max-width: 100%;
    height: 100%;
    padding: 10px 30px;
    margin: auto;
    box-sizing: border-box;
    overflow-y: auto;
}
