
.root {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
}

.text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.75;
    min-width: 0;
}
