.container {
  display: block;
}

.circle {
  fill: none;
  stroke: var(--hsl-blue);
  stroke-width: 3;
}

.text {
  text-anchor: middle;
  dominant-baseline: middle;
  font-weight: bold;
  fill: var(--hsl-blue);
}
