
.root {
    margin: 15px 0;
    font-family: GothamRounded-Book;
    color: var(--timetable-text-color);
    page-break-after: avoid;
}

.root.printable {
    padding-top: 25px;
}

.strong {
    font-family: GothamRounded-Medium;
}

.title {
    padding: 5px 10px;
    font-size: 18px;
}

.title.printable {
    font-size: 24px;
}

.subtitle {
    display: flex;
    padding: 0 10px;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: -0.025em;
}

.subtitle.printable {
    font-size: 16px;
    line-height: 18px;
}

.subtitle > *:first-child {
    width: 50px;
}

.subtitle.printable > *:first-child {
    width: 70px;
}