.root {
  color: black;
}

.root > * {
  margin: 0 calc(-1 * var(--border-radius));
  padding: 0 calc(var(--border-radius) * 0.5) 0 var(--border-radius);
}

.root > *:nth-child(odd) {
  background-color: var(--timetable-accent-color);
}

.item {
  display: flex;
  min-width: 60px;
  padding: 4px 0;
  font-family: GothamXNarrow-Book;
  font-size: 12px;
  letter-spacing: -0.025em;
  line-height: 8px;
  margin-right: 4px;
}

.item.printable {
  font-size: 15px;
  line-height: 12px;
  min-width: 55px;
}

.minutes {
  min-width: 12px;
  font-family: GothamXNarrow-Medium;
}

.hours {
  composes: item;
  padding-left: 15px;
  font-family: GothamXNarrow-Medium;
}
