.root {
  margin: 0.938em 0;
  font-family: GothamRounded-Book;
  color: var(--timetable-text-color);
  page-break-after: avoid;
}

.root.largerPaddingTop {
  padding-top: 0.25em;
}

.strong {
  font-family: GothamXNarrow-Medium;
  font-size: 1.115em;
}

.title {
  padding: 0.313em 0.45em;
  font-size: 1.125em;
  font-family: GothamXNarrow-Book;
}

.subtitle {
  display: flex;
  padding: 0 0.625em 0 0.65em;
  font-size: 0.75em;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

.subtitle > *:first-child {
  min-width: 4.2em;
}

.a3Title {
  font-size: 0.8em;
}
