.root {
  color: black;
}

.root > * {
  margin: 0 calc(-1 * var(--border-radius));
  padding: 0 calc(var(--border-radius) * 0.5) 0 var(--border-radius);
}

.root > *:nth-child(odd) {
  background-color: var(--timetable-accent-color);
}

.a3root {
  margin: 0px;
  padding: 0px;
  color: black;
}

.a3root > *:nth-child(odd) {
  background-color: var(--timetable-accent-color);
}

.item {
  display: flex;
  min-width: 3.75em;
  padding: 0.25em 0;
  font-family: GothamXNarrow-Book;
  font-size: 15px;
  letter-spacing: -0.025em;
  line-height: 1;
  margin-right: 0.25em;
}

.minutes {
  min-width: 0.75em;
  font-family: GothamXNarrow-Medium;
}

.hours {
  composes: item;
  padding-left: 0.938em;
  font-family: GothamXNarrow-Medium;
}

.compactRow {
  font-size: 10px;
}
