.root {
  margin-top: 0.4em;
  margin-bottom: 0.938em;
  font-family: GothamRounded-Book;
  color: var(--timetable-text-color);
  break-after: avoid;
}

.strong {
  font-family: GothamXNarrow-Medium;
}

.title {
  padding: 0.313em 0.45em;
  font-family: GothamXNarrow-Book;
}

.subtitle {
  display: flex;
  padding: 0 0.625em 0 0.65em;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

.subtitle > *:first-child {
  min-width: 4.2em;
}

.a3Title {
  font-size: 0.8em;
}

.italics {
  font-style: italic;
}

.inline {
  display: inline;
}

.compactTitle {
  font-size: 0.8em;
}

.compactSubtitle {
  font-size: 0.5em;
}

.compactRoot {
  margin: 0.5em 0;
}

.compactPadding {
  padding-top: 0.15em;
}
