.root {
  position: relative;
  width: 100%;
  padding: var(--border-radius);
  padding-top: calc(var(--border-radius) - 15px);
  border-radius: var(--border-radius);
  color: var(--hsl-blue);
  background: var(--light-background);
  --timetable-accent-color: white;
  font-size: 15px;
  margin-bottom: 10px;
}

.routeHeadings {
  display: flex;
  gap: 0.3em;
  font-size: 20px;
  align-items: center;
}

.interval {
  color: var(--hsl-blue);
}

.timetableRoot {
  color: black;
}

.timetableRoot > * {
  margin: 0 calc(-1 * var(--border-radius));
  padding: 0.2em calc(0.45em + var(--border-radius));
}

.timetableRoot > *:nth-child(odd) {
  background-color: var(--timetable-accent-color);
}

.timetableRoutes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  padding: 0 0.45em 0.5em;
}

.timetableMinutes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.icon {
  width: 20px;
  height: 20px;
}

.validFrom {
  padding: 0.313em 0.45em;
  color: black;
  font-size: 12.75px;
}

.root.a3 {
  border-radius: 30px;
  padding: 15px 0px 30px 0px;
}

.root.standalone {
  font-size: 22px;
}

.root.summer {
  background: white;
  --timetable-accent-color: var(--light-background);
}

.root.greyscale {
  background: white;
  color: black;
  --timetable-accent-color: #eaeaea;
}

.root.printable {
  width: auto;
  border-radius: 0;
}

.header {
  padding: 0 0 0 0.4em;
}

.headerTitle {
  font-size: 1.75em;
}

.componentName {
  padding: 0 0 0 0.205em;
  font-size: 1.875em;
}

.title {
  font-family: GothamRounded-Medium;
  white-space: nowrap;
  font-size: 0.9em;
}

.subtitle {
  font-family: GothamRounded-Book;
  font-size: 0.9em;
}

.footnote {
  padding: 0.125em 0.625em;
  font-family: GothamXNarrow-Book;
  font-size: 0.813em;
}

.validity {
  font-family: GothamXNarrow-Book;
  font-size: 0.75em;
  line-height: 1.1;
  letter-spacing: -0.025em;
  text-align: right;
  margin-left: auto;
  position: absolute;
  margin-top: -5px;
  top: calc(var(--border-radius));
  right: var(--border-radius);
}

.validity .shortId {
  font-family: GothamRounded-Medium;
  font-size: 1.75em;
}

.address {
  font-family: GothamRounded-Medium;
  font-size: 0.6rem;
  color: black;
  position: absolute;
  top: 1110px;
  right: var(--border-radius);
}

.validity .title {
  font-family: GothamRounded-Medium;
}

.stopZone {
  padding-left: 0.5em;
  margin-top: 0.875em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.zoneTitle {
  font-size: 0.75em;
  line-height: 1.1;
  font-family: GothamRounded-Medium;
  white-space: nowrap;
  margin-right: 0.4em;
}

.zoneSubtitle {
  font-size: 0.75em;
  composes: zoneTitle;
  font-family: GothamRounded-Book;
}

.zone {
  position: relative;
  box-sizing: border-box;
  flex: none;
  width: 1.5em;
  height: 1.5em;
  color: white;
  background: var(--hsl-blue);
  border-radius: 50%;
}

.zoneLetter {
  font-size: 1.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  line-height: 1;
  font-family: GothamRounded-Medium;
  text-transform: uppercase;
}

.printBtn {
  margin-left: 2rem;
  background-color: var(--hsl-blue);
  margin-top: 1.5rem;
  height: 2rem;
  width: fit-content;
  padding: 0 1rem 0 1rem;
  font-size: 0.9rem;
  border-radius: 10px;
  color: white;
  border: none;
}

.printBtn:hover {
  background-color: white;
  cursor: pointer;
  color: var(--hsl-blue);
  border: 1px solid var(--hsl-blue);
}

.coverPageMargin {
  top: 1160px;
}

@media print {
  .noPrint,
  .noPrint * {
    display: none !important;
  }
}
