@value borderRadius from "styles/common.css";

.root {
    position: relative;
    width: 100%;
    padding: borderRadius;
    padding-top: calc(borderRadius - 15px);
    border-radius: borderRadius;
    color: var(--hsl-blue);
    background: var(--light-background);
    --timetable-accent-color: white;
}

.root.summer {
    background: white;
    --timetable-accent-color: var(--light-background);
}

.componentName {
    padding: 0px 10px;
    font-size: 30px;
}

.title {
    font-family: GothamRounded-Medium;
}

.subtitle {
    font-family: GothamRounded-Book;
}

.footnote {
    padding: 2px 10px;
    font-family: GothamXNarrow-Book;
    font-size: 13px;
}

.validity {
    position: absolute;
    top: calc(borderRadius - 15px);
    right: borderRadius;
    font-family: GothamRounded-Book;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.025em;
    text-align: right;
}

.validity > *:first-child {
    font-family: GothamRounded-Medium;
}
