{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "no-plusplus": [0],
    "no-restricted-syntax": [0],
    "no-console": 0,
    "no-nested-ternary": 0,
    "no-unused-vars": 1,
    "class-methods-use-this": 1,
    "import/order": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": [
          "webpack.*.js"
        ]
      }
    ],
    "react/no-unused-prop-types": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/no-array-index-key": [0],
    "react/destructuring-assignment": 0,
    "react/jsx-props-no-spreading": 1,
    "react/jsx-fragments": 1,
    "react/function-component-definition": 0,
    "react/no-unused-class-component-methods": 1,
    "react/no-unstable-nested-components": 1,
    "jsx-a11y/img-has-alt": [0],
    "jsx-a11y/alt-text": 0,
    "prettier/prettier": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": ["react"]
}
