{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": "airbnb",
  "rules": {
    "indent": [ "error", 4 ],
    "no-plusplus": [ "off" ],
    "no-restricted-syntax": [ "off" ],
    "comma-dangle": [
      "error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "quotes": [ "error", "double", { "avoidEscape": true } ],
    "no-console": 0,
    "max-len": 0,
    "no-unused-vars": 0,
    "react/no-unused-prop-types": 0,
    "react/jsx-indent": [ "error", 4 ],
    "react/jsx-indent-props": [ "error", 4 ],
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [ "error", { "extensions": [ ".js" ] } ],
    "react/jsx-tag-spacing": [ "error", { "beforeSelfClosing": "never" } ],
    "react/no-array-index-key": [ "off" ],
    "react/destructuring-assignment": "off",
    "jsx-a11y/img-has-alt": [ "off" ],
    "import/named": [ "error" ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ]
}
