
@value fontFamilyNarrow from "styles/common.css";
@value leftWidth, rightWidth, lineColor, lineWidth, lineRadius from "./values.css";

.root {
    position: relative;
    color: lineColor;
}

.header {
    width: leftWidth;
    border-right: lineWidth solid lineColor;
    height: lineRadius;
    margin-top: calc(0px - lineWidth);

}

.root ~ .root > .header {
    width: calc(2 * leftWidth);
    margin-left: calc(0px - leftWidth);
    border-top: lineWidth solid lineColor;
    border-top-right-radius: lineRadius;
    border-top-right-radius: lineRadius;
}

.root ~ .root ~ .root > .header {
    width: calc(leftWidth + rightWidth + leftWidth);
    margin-left: calc(0px - rightWidth - leftWidth);
}

.footer {
    position: relative;
    width: rightWidth;
    height: 20px;
    margin-left: leftWidth;
    border-bottom: lineWidth solid lineColor;
    border-left: lineWidth solid lineColor;
    border-bottom-left-radius: lineRadius;
}

.footer::after {
    content:"";
    position: absolute;
    top: 0;
    bottom: calc(0px - lineWidth);
    left: calc(0px - lineWidth);
    border-left: lineWidth solid lineColor;
}

.subpaths {
    display: flex;
}

.routes {
    margin: 10px 0;
    font-family: fontFamilyNarrow;
    letter-spacing: -1px;
}

.route {
    display: flex;
    align-items: baseline;
}

.route *:first-child {
    width: calc(80px + leftWidth);
    margin-left: -80px;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
}

.route *:last-child {
    padding-left: 5px;
    font-size: 25px;
    font-weight: 500;
}
