@value fontFamily, fontFamilyNarrow from "styles/common.css";
@value leftWidth, rightWidth, lineColor, lineWidth from "./values.css";

.stop {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    font-family: fontFamily;
    white-space: nowrap;
}

.left {
    width: leftWidth;
}

.right {
    padding-top: 8px;
    padding-left: 10px;
    width: rightWidth;
    box-sizing: border-box;
}

.title {
    font-weight: 700;
    font-size: 13px;
}

.subtitle {
    font-size: 12px;
}

.separator {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.separatorTop {
     width: lineWidth;
     height: 10px;
    border-left: lineWidth solid lineColor;
 }

.separatorBottom {
    height: 20px;
    border-left: lineWidth solid lineColor;
}

.separatorSymbol {
    width: calc(4 * lineWidth);
    height: calc(4 * lineWidth);
    border: lineWidth solid lineColor;
    border-radius: calc(4 * lineWidth);
    margin-top: calc(lineWidth / -2);
    margin-bottom: calc(lineWidth / -2);
    margin-left: calc(-2.5 * lineWidth);
}
