.coverPageContainer {
  height: 1110px;
  width: 100%;
  text-align: center;
  font-family: GothamRounded-Medium;
}

.greyscale {
  background: white;
  color: black;
  --timetable-accent-color: #eaeaea;
}

.title {
  padding-top: 3rem;
  font-size: 2rem;
}

.stopRow {
  font-family: GothamRounded-Book;
  text-align: left;
  font-size: 0.8rem;
  padding: 3px 0;
}
