
.text {
    position: absolute;
    font-size: 20px;
    font-family: GothamXNarrow-Medium;
    color: black;
}

.url {
    composes: text;
    left: 500px;
    top: 332px;
}

.urlInfo {
    composes: text;
    top: 346px;
    left: 500px;
}

.urlFeedback {
    composes: text;
    top: 346px;
    left: 936px;
}

.qrCode {
    position: absolute;
    left: 800px;
    top: 124px;
    transform-origin: top left;
}

.qrCodeInfo {
    composes: qrCode;
    top: 128px;
    left: 732px;
}

.qrCodeFeedback {
    composes: qrCode;
    top: 128px;
    left: 1146px;
}
