
.url {
    position: absolute;
    font-size: 20px;
    font-family: GothamXNarrow-Medium;
    color: black;
}

.urlInfo {
    composes: url;
    top: 346px;
    left: 500px;
}

.urlFeedback {
    composes: url;
    top: 346px;
    left: 936px;
}

.qrCode {
    position: absolute;
    width: 140px;
}

.qrCodeInfo {
    composes: qrCode;
    top: 128px;
    left: 732px;
}

.qrCodeFeedback {
    composes: qrCode;
    top: 128px;
    left: 1146px;
}
