@value fontFamilyNarrow from "styles/common.css";

.shortCode {
    position: absolute;
    left: 500px;
    top: 332px;
    font-family: fontFamilyNarrow;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.qrCode {
    position: absolute;
    left: 800px;
    top: 124px;
}
