@value fontFamily, fontFamilyNarrow, borderRadius from "styles/common.css";

.root {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: black;
    background: white;
    border-radius: borderRadius;
    padding: borderRadius;
    white-space: nowrap;
    overflow: hidden;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 84px;
}

.id {
    padding: 0 12px;
    font-family: fontFamilyNarrow;
    font-size: 70px;
    font-weight: 500;
}

.title {
    font-family: fontFamilyNarrow;
    font-size: 28px;
    font-weight: 500;
    padding-right: 25px;
}

.subtitle {
    composes: title;
    font-weight: 300;
}

.icon {
  height: 1em;
  width: 1em;
  font-size: 60px;
}
