@value white, gray, fontFamily, fontFamilyNarrow, borderRadius, hslBlue from "styles/common.css";

.root {
    color: gray;
    background: white;
    border-radius: borderRadius;
    padding: borderRadius;
}

.identifier {
    font-family: fontFamilyNarrow;
    width: 140px;
    padding: 0px 10px;
    font-size: 70px;
    font-weight: 700;
    color: hslBlue;
}

.title {
    font-family: fontFamily;
    font-size: 28px;
    font-weight: 500;
}

.subtitle {
    composes: title;
    font-weight: 400;
}
