@value white, background, fontFamily from "styles/common.css";

.root {
    width: 2296px;
    height: 3430px;
    padding: 50px;
    color: white;
    background: background;
}

.content {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding: 50px 0;
    overflow: hidden;
}

.title {
    font-family: fontFamily;
    font-weight: 700;
    font-size: 30px;
    margin: 40px 40px 30px;
}

.columns {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.timetables {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.timetable {
    display: flex;
    align-items: stretch;
    width: 730px;
}

.map {
    flex: 1;
}
