@value white, background, fontFamily from "styles/common.css";

.root {
    width: 2296px;
    height: 3430px;
    padding: 50px;
    color: white;
    background: background;
}

.content {
    display: flex;
    align-items: flex-start;
    margin: 50px 0;
}

.title {
    font-family: fontFamily;
    font-weight: 700;
    font-size: 30px;
    margin: 40px 40px 30px;
}
