@value fontFamily from "styles/common.css";

/*
 Poster 810mm x 1210mm / 31.89in x 47.64in / 2296px x 3430px @ 72 ppi
 Bleed 5mm / 15 px @ 72 ppi
*/
.root {
    width: calc(2296px + 30px);
    height: calc(3430px + 30px);
    padding: 64px;
    margin: -15px;
    color: white;
    background: var(--background);
    box-sizing: border-box;
}

.content {
    flex: 1;
    display: flex;
    flex-flow: column;
    padding: 50px 0;
    overflow: hidden;
}

.title {
    font-family: fontFamily;
    font-weight: 500;
    font-size: 30px;
    margin: 40px 40px 30px;
}

.subtitle {
    font-weight: 300;
}

.columns {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.left {
    width: 689px;
}

.right {
    flex: 1;
    display: flex;
    flex-flow: column;
    align-items: stretch;
}

.timetables {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.timetable {
    display: flex;
    align-items: stretch;
    flex: 1 0 0;
}

.map {
    flex: 1;
}
