
@font-face {
  font-family: GothamRounded-Medium;
  src: local("Gotham Rounded Medium"), local("GothamRounded-Medium");
}

@font-face {
  font-family: GothamRounded-Book;
  src: local("Gotham Rounded Book"), local("GothamRounded-Book");
}

@font-face {
  font-family: GothamXNarrow-Book;
  src: local("Gotham XNarrow Book"), local("GothamXNarrow-Book");
}

@font-face {
  font-family: GothamXNarrow-Medium;
  src: local("Gotham XNarrow Medium"), local("GothamXNarrow-Medium");
}

body {
    margin: 0;
}

body, body * {
    user-select: none;
    -moz-osx-font-smoothing: unset;
    -webkit-font-smoothing: none;
}

:root {
    --hsl-blue: rgb(0, 122, 201);
    --hsl-blue-light: rgb(213, 232, 250);
    --background: var(--hsl-blue);
    --light-background: var(--hsl-blue-light);
}
