.root {
  margin: 0.938em 0;
  font-family: GothamRounded-Book;
  color: var(--timetable-text-color);
  break-after: avoid;
  margin: 0;
}

.root.largerPaddingTop {
  padding-top: 0.25em;
}

.root.noPaddingTop {
  margin: 0;
}

.strong {
  font-family: GothamXNarrow-Medium;
  font-size: 1.115em;
}

.title {
  padding: 0.313em 0.45em;
  font-size: 1.05em;
  font-family: GothamXNarrow-Book;
}

.subtitle {
  display: flex;
  padding: 0 0.625em 0 0.65em;
  font-size: 0.75em;
  line-height: 1.2;
  letter-spacing: -0.025em;
  align-items: center;
}

.subtitleContent {
  padding-left: 5px;
}

.subtitleContentExtraPadding {
  padding-left: 10px;
}

.a3Title {
  font-size: 0.8em;
}

.timeLogo {
  height: 30px;
  width: 30px;
}
