.root {
  background: white;
  border-radius: var(--border-radius);
  overflow: hidden;
  position: relative;
}

.componentName {
  padding: 42px;
  font-size: 30px;
  color: var(--hsl-blue);
  position: absolute;
}

.componentName > .title {
  font-family: GothamRounded-Medium;
}

.componentName > .subtitle {
  font-family: GothamRounded-Book;
}

.diagram {
  display: block;
  margin-top: -80px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -10px;
}
