.root {
    background: white;
    border-radius: var(--border-radius);
    padding: 42px;
    overflow: hidden;
}

.componentName {
    padding: 0px 0px 20px;
    font-size: 30px;
    color: var(--hsl-blue);
}

.componentName > .title {
    font-family: GothamRounded-Medium;
}

.componentName > .subtitle {
    font-family: GothamRounded-Book;
}

.diagram {
    margin-top: -130px;
    margin-bottom: -80px;
    margin-left: 0px;
    margin-right: -128px;
}
