@value white, background from "styles/common.css";

.root {
    width: 2296px;
    height: 3430px;
    padding: 40px;
    color: white;
    background: background;
}

.container {
    background: white;
    border-radius: 30px;
}
