
.root {
    width: 2296px;
    height: 3430px;
    padding: 40px;
    color: hsl(0, 0%, 100%);
    background: hsl(200, 100%, 40%);
}

.container {
    background: hsl(0, 0%, 100%);
    border-radius: 30px;
}
