
.row {
    display: flex;
    align-items: center;
}

.justifiedRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrappingRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
}

.column {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    max-height: 100%;
}

.justifiedColumn {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: space-between;
    height: 100%;
}

.image {
    max-width: 100%;
}

.error {
    flex-grow: 1;
    background: red;
}
