.stopListsContainer {
  margin-top: 1rem;
  max-width: 95%;
}

.stopList {
  margin-bottom: 1rem;
  padding-left: 1.2rem;
}

.lineInfoText {
  font-family: GothamRounded-Book;
  font-size: 1rem;
}

.stopListText {
  font-family: GothamRounded-Medium;
  font-size: 0.5rem;
}
