.stopListsContainer {
  margin-top: 2rem;
  max-width: 1171px;
}

.stopList {
  margin-bottom: 2rem;
  padding-left: 1.2rem;
}

.lineInfoText {
  font-family: GothamRounded-Book;
  font-size: 2rem;
}

.stopListText {
  font-family: GothamRounded-Medium;
}

@media print {
  .stopListsContainer {
    page-break-inside: avoid;
  }
}
