.header {
  display: flex;
  page-break-before: always;
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.lineId {
  font-size: 4rem;
  margin: 2rem 2rem 0 2rem;
  font-family: GothamRounded-Medium;
}

.nameContainer {
  display: block;
  padding-top: 2rem;
}

.lineName {
  font-size: 30px;
  font-family: GothamRounded-Medium;
}

.lineNameSecondary {
  font-size: 25px;
  font-family: GothamRounded-Book;
}

.printBtnContainer {
  display: inline;
  margin-top: 1rem;
}

@media print {
  .header {
    page-break-before: always;
  }
}
