.departureRowContainer {
  max-width: 420px;
  min-width: 120px;
  font-family: GothamRounded-Book;
  margin: 0.5rem 0;
  page-break-inside: avoid;
  page-break-after: always;
}

.departureRow {
  font-size: 1rem;
  margin-left: 1.6rem;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 35px;
}

.departureColumnContainer {
  flex-grow: 1;
  align-items: normal;
  min-width: 100px;
  max-width: 350px;
  page-break-inside: avoid;
}

.tableContainer {
  display: flex;
  margin-top: 1rem;
}

.wider {
  min-width: 270px;
}

.hour {
  font-family: GothamXNarrow-Medium;
  font-size: 15px;
  width: 1.5rem;
  margin-right: 0.5em;
}

.minutesContainer {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.minutes {
  display: flex;
  min-width: 0.9em;
  font-family: GothamXNarrow-Book;
  font-size: 12px;
  letter-spacing: -0.02em;
  line-height: 1;
  margin-right: 0.2em;
}

.divider {
  border-right: 2px solid #3333338a;
}

.departureRowContainer > *:nth-child(even) {
  background-color: #eaeaea;
}
