.headerContainer {
  display: block;
  page-break-inside: avoid;
  break-inside: avoid;
}

.flexHeader {
  display: flex;
}

.stop {
  flex-grow: 1;
  height: 50px;
  padding-right: 16px;
  margin-bottom: 1.5rem;
}

.stopNamePrimary {
  font-size: 1rem;
  margin: 0 0 0 1.2rem;
  font-family: GothamRounded-Medium;
}

.stopNameSecondary {
  font-size: 1rem;
  margin: 0 0 0 1.2rem;
  font-family: GothamXNarrow-Book;
}

.directionBracket {
  font-family: GothamRounded-Medium;
  font-size: 1rem;
}
