.departureRowContainer {
  max-width: 1171px;
  font-family: GothamRounded-Medium;
}

.departureRowContainer > *:nth-child(odd) {
  background-color: #e8e8e8;
}

.departureRow {
  font-size: 1.2rem;
  margin-left: 2rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

.departureColumnContainer {
  flex-grow: 1;
  align-items: normal;
}

.tableContainer {
  display: flex;
  margin-top: 1rem;
}

@media print {
  .departureRow {
    page-break-inside: avoid;
  }
}
