.header {
  padding: 0 0 0 0.4em;
}

.headerTitle {
  font-size: 1.75em;
}

.componentName {
  padding: 0 0 0 0.205em;
  font-size: 1.875em;
}

.title {
  font-family: GothamRounded-Medium;
  white-space: nowrap;
  font-size: 0.9em;
}

.subtitle {
  font-family: GothamRounded-Book;
  font-size: 0.9em;
}

.footnote {
  padding: 0.125em 0.625em;
  font-family: GothamXNarrow-Book;
  font-size: 0.813em;
}

.validity {
  font-family: GothamXNarrow-Book;
  font-size: 0.75em;
  line-height: 1.1;
  letter-spacing: -0.025em;
  text-align: right;
  margin-left: auto;
  position: absolute;
  margin-top: -5px;
  top: calc(var(--border-radius));
  right: var(--border-radius);
}

.validity .shortId {
  font-family: GothamRounded-Medium;
  font-size: 1.75em;
}

.validity .title {
  font-family: GothamRounded-Medium;
}

.stopZone {
  padding-left: 0.5em;
  margin-top: 0.875em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.zoneTitle {
  font-size: 0.75em;
  line-height: 1.1;
  font-family: GothamRounded-Medium;
  white-space: nowrap;
  margin-right: 0.4em;
}

.zoneSubtitle {
  font-size: 0.75em;
  composes: zoneTitle;
  font-family: GothamRounded-Book;
}

.zone {
  position: relative;
  box-sizing: border-box;
  flex: none;
  width: 1.5em;
  height: 1.5em;
  color: white;
  background: var(--hsl-blue);
  border-radius: 50%;
}

.zoneLetter {
  font-size: 1.25em;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  line-height: 1;
  font-family: GothamRounded-Medium;
  text-transform: uppercase;
}

.timetableDays {
  margin: 0 1rem 1rem 1.2rem;
  font-size: 0.8em;
  font-family: GothamRounded-Book;
  word-wrap: break-word;
}

.timetableDates {
  margin: 0 1rem 1rem 2rem;
  font-size: 0.8em;
  font-family: GothamRounded-Book;
}

.pageBreak {
  break-before: avoid;
  break-inside: always;
}

.timetableDivider {
  margin-top: 1rem;
  width: 100%;
  border-bottom: 2px dotted gray;
}

.parentContainer {
  display: block;
}

.timetableContainer {
  page-break-inside: avoid;
  page-break-after: always;
  display: block;
}

.fridayNote {
  margin-left: 1.5rem;
  font-family: GothamRounded-Book;
  font-size: 12px;
}

.notesContainer {
  margin: 0.5rem 0 1rem 0.5rem;
}

.pageNumber {
  font-family: GothamRounded-Medium;
  font-size: 16px;
  color: black;
  position: absolute;
  left: 680px;
  right: 30px;
  width: fit-content;
  height: fit-content;
}

@media print {
  .noPrint,
  .noPrint * {
    display: none !important;
  }

  .pageBreak {
    break-inside: always;
  }

  .timetableContainer,
  .timetableContainer * {
    break-inside: avoid;
  }
}
