.root {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.root > *:first-child {
  margin: 5px 0;
  font-family: GothamRounded-Medium;
  color: black;
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 1), 0px 0px 1px rgba(255, 255, 255, 1),
    0px 0px 1px rgba(255, 255, 255, 1);
}

.root > *:last-child {
  height: 10px;
  background: repeating-linear-gradient(
    90deg,
    black,
    black 25%,
    white 25%,
    white 50%
  );
  border: 1px solid white;
  box-sizing: border-box;
}
