@value fontFamily, fontFamilyNarrow from "styles/common.css";

.label {
    padding: 10px 7px 7px 10px;
    margin: 5px;
    font-family: fontFamily;
    white-space: nowrap;
    background: hsla(0, 0%, 100%, 0.8);
}

.title {
    color: black;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}

.subtitle {
    color: black;
    font-size: 16px;
    font-weight: 300;
}

.content {
    font-size: 15px;
    line-height: 16px;
    color: black;
    padding: 5px 0 0;
    font-weight: 500;
}

.route {
    font-family: fontFamilyNarrow;
}

.light {
    font-weight: 300;
}
