.root {
  position: relative;
}

.mapContainer {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.mapContainer img {
  width: 100%;
}

.map {
  composes: mapContainer;
  width: 100%;
  height: 100%;
}

.miniMap {
  composes: mapContainer;
  position: absolute;
  border: 10px solid var(--background);
}

.legend {
  composes: mapContainer;
  z-index: 20;
  background-color: white;
  border-radius: 15px;
  border: 5px solid var(--background);
  min-width: 200px;
  min-height: 30px;
}

.legendRow {
  padding: 5px;
  display: flex;
  align-items: center;
}

.legendText {
  color: black;
  margin-left: 10px;
  font-family: GothamRounded-Book;
  font-size: 0.9em;
  white-space: nowrap;
}

.legendLine {
  width: 40px;
}

.legendLine.bus {
  border: 2px solid rgb(0, 122, 201);
}

.legendLine.tram {
  border: 2px solid rgb(0, 152, 95);
}

.legendLine.subway {
  border: 2px dashed rgb(255, 99, 25);
}

.legendLine.rail {
  border: 2px dashed rgb(141, 81, 153);
}

.legendLine.trunk {
  border: 2px solid rgb(255, 99, 25);
}

.legendLine.l_rail {
  border: 2px solid #0098a1;
}

.legendIcon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 20px;
}

.legendIcon.bus {
  border: 2px solid rgb(0, 122, 201);
}

.legendIcon.tram {
  border: 2px solid rgb(0, 152, 95);
}

.legendIcon.subway {
  border: 2px solid rgb(255, 99, 25);
}

.legendIcon.rail {
  border: 2px solid rgb(141, 81, 153);
}

.legendIcon.trunk {
  border: 2px solid rgb(255, 99, 25);
}

.legendIcon.l_rail {
  border: 2px solid #0098a1;
}

.overlays {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.outline {
  text-shadow: 0px 0px 1px rgba(255, 255, 255, 1), 0px 0px 1px rgba(255, 255, 255, 1),
    0px 0px 1px rgba(255, 255, 255, 1);
}

.attribution {
  composes: outline;
  margin: 8px 0;
  font-family: GothamRounded-Medium;
  color: black;
}

.title {
  composes: outline;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 8px;
  font-size: 18px;
  font-family: GothamRounded-Medium;
  color: black;
}

.subtitle {
  composes: title;
  margin-left: 0;
  font-family: GothamRounded-Book;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.zoneHeading {
  font-family: GothamRounded-Book;
  font-size: 20px;
  vertical-align: middle;
  line-height: 1.1rem;
  display: flex;
  align-items: center;
  width: 100%;
  color: rgb(0, 122, 201);
  white-space: nowrap;
  flex-wrap: nowrap;
}

.zoneSymbol {
  height: 60px;
  width: 60px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
