body {
  font-family: GothamRounded-Medium;
  font-size: 16px;
}

th {
  width: 200px;
  text-align: justify;
  background-color: white;
  padding: 10px;
}

table {
  border-spacing: 0px;
}

.rowContainer > *:nth-child(odd) {
  background-color: #eaeaea;
}
