---
name: "CI/CD: Continuous integration and continuous deployment"

"on":
  push:
    branches:
      - main
      - development
    tags:
      - "v*"
  pull_request:
  merge_group:

jobs:
  build-check-test-push:
    uses: HSLdevcom/transitdata-shared-workflows/.github/workflows/ci-cd-typescript.yml@publisher-wip
    secrets:
      DOCKER_USERNAME: ${{ secrets.KARTAT_DOCKERHUB_USER }}
      DOCKER_PASSWORD: ${{ secrets.KARTAT_DOCKERHUB_TOKEN }}
    with:
      checkAndTestOutsideDocker: true
      codeCoverageEnabled: true
      performRelease: false
      checkAndTestInsideDocker: false
